/*
  Grayscale theme by rviid
  Special thanks to floyare (https://github.com/floyare), Sarah (https://git.thicc-thighs.de/Sarah) and millie (https://github.com/egirlcatnip)
  version 0.3
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

body{
  overflow: hidden !important;
  position: relative !important;
}

div[data-screen-name='rcp-fe-lol-navigation-screen'] {
    height: 79px;
    width: 1278px;
    border-top: 0px solid #785a28!important;
    box-sizing: border-box;
}

#rcp-fe-viewport-root {
    display: flex;
    width: 1280px;
    height: 720px;
    position: relative;
    border-right: 2px solid #000!important;
    border-left: 2px solid #000!important;
    border-bottom: 2px solid #000!important;
    border-top: 2px solid #000!important;
    box-sizing: border-box;
    overflow: hidden;
    background: #000;
    filter: grayscale(100%) !important; 
}

#rcp-fe-viewport-root #rcp-fe-lol-navigation-app {
    pointer-events: none;
    position: relative;
    z-index: 10;
    background:linear-gradient(to right #bebebe 30%) !important;
}

.rcp-fe-viewport-sidebar{
  color: #000;
}

.lol-social-sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 12px;
    cursor: default;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.section, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #f1f1f1!important;
    border: none;
    margin: 0;
    text-decoration: none;
    outline: none;
    transition: text-shadow 0.3s ease-in-out, background 1.5s;
    width: 100%;
    height: 100%;
    min-height: 20px;
    cursor: pointer;
}

.section.active .section-glow {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    margin: 0;
    background: linear-gradient(to left, transparent, #9e6dff, transparent)!important;
    filter: grayscale(100%);
}

.section.active, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section.active {
    color: #846bff;
    text-shadow: 0px 0px 21px #8500ff!important;
    filter: grayscale(100%);
    /* opacity: 1; */
}

 .section.active {
    background-image: color(#000)!important;
}

.section.active, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section.active {
    color: #ffffff!important;
    text-shadow: 0px 1px 15px white!important;
    font-family: 'Orbitron', sans-serif!important;
}

.section, :host-context(lol-uikit-navigation-bar[type=nav-bar-secondary]) .section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #facfffc2!important;
    border: none;
    margin: 0;
    text-decoration: none;
    outline: none;
    transition: text-shadow 0.3s ease-in-out, background 1.5s;
    width: 100%;
    height: 100%;
    min-height: 20px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif!important;
}

::content .lol-uikit-video-content {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    filter: grayscale(100%)!important;
}

lol-uikit-full-page-backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(39, 0, 74, 0.8) 93%)!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: grayscale(100%);
}

.loot-backdrop {
    position: absolute;
    width: 1055px;
    height: 718px;
    overflow: hidden;
    filter: grayscale(100%);
}

.game-type-card .parties-game-type-upper-half {
    position: relative;
    cursor: pointer;
    width: 185px;
    height: 230px;
    filter: grayscale(100%);
}

.parties-header-button-container .back-button-container.back-button-shown {
    display: block;
    filter: saturate(0);
}

#rcp-fe-viewport-root > .rcp-fe-viewport-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    box-shadow: inset 0px 0px 40px (#000);
}

.availability-icon{
    background-color: #fff !important;
    border-color: #FFF !important;
    border-radius: 10px;
}

.availability-icon.mobile{
  background-color: transparent !important;
}

.availability-icon.away{
    background-color: #bebebe !important;
    border-color: #fff!important;
}

.status-message.offline{
  color: #bebebe !important;
}

.status-message-wrapper{
  color: #bebebe !important;
}

.status-message.chat{
  color: #bebebe !important;
}

.status-message.game-status.chat{
  color: #bebebe !important;
}



.lol-loading-screen-lol-icon{
  background-image: url('https://i.ibb.co/JvK3zcB/heart.jpg') !important;
  width: 300px !important;
  height: 300px !important;
}

.lol-loading-screen-container.lol-loading-screen-default-state .lol-loading-screen-status-container{
  margin-top: -60px !important;
  filter: grayscale(100%);
}

.play-button-container{
  background-image: none !important; /*url('http://mmmx22.ct8.pl/play-button-violet.png') !important;*/
  background: color(#000) !important;
  border-radius: 50px !important;
  border: 2px solid #fff!important;
  filter: drop-shadow(1px 1px 8px #9100FF) !important;
  transition: 0.2s !important;
  cursor: pointer;
}

.play-button-container:hover{
  filter: drop-shadow(1px 1px 15px #9100FF) !important;
  transition: 0.2s !important;
}

.play-button-content{
    width: calc(100% - 52px) !important;
}

.play-button-text{
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
  content: '▶ PLAY' !important;
  visibility: hidden;
  z-index: 0 !important;
}

.play-button-text:after{
    content:'\25B6  PLAY'; 
  visibility: visible;
  display: block;
  position: absolute;
  right: 11px !important;
}

#rcp-fe-viewport-root > .rcp-fe-viewport-overlay > .screen-root[style*="visibility: hidden;"] ~ .play-button-text:after {
  visibility: hidden !important;
}

.play-button-component[style*="visibility: hidden;"] ~ .play-button-text:after {
  visibility: hidden !important;
}

.play-button-component[style*="visibility: hidden;"] + .play-button-text:after {
  visibility: hidden !important;
}

.play-button-component[style*="visibility: hidden;"] .play-button-text:after {
  visibility: hidden !important;
}

.screen-root[style*="visibility: hidden;"] .play-button-text:after {
  visibility: hidden !important;
}

.screen-root[style*="visibility: hidden;"] ~ .play-button-text:after {
  visibility: hidden !important;
}

.screen-root[style*="visibility: hidden;"] + .play-button-text:after {
  visibility: hidden !important;
}





.champion-select-main-container:not(:hidden) ~ .play-button-text:after{
  display: none !important;
  visibility: hidden !important;
}

.champion-select-main-container:visible .play-button-text:after{
  display: none !important;
}

.play-button-container:hover .play-button-text:after{
  color: #C7C7C7 !important;
}

.play-button-container:active .play-button-text:after{
  color: #C7C7C7 !important;
}

.lol-loading-screen-container.lol-loading-screen-default-state{
  /* background: url('https://i.ibb.co/QcgNzKT/7f7ce09a2a883002643f442a7e7ddfaf.jpg') #0F051F no-repeat !important; */
  background: #000 !important;
  /* opacity: 0.6 !important;  */
}

.lol-loading-screen-container{
  backdrop-filter: blur(10px);
  filter: grayscale(100%);
}

lol-social-roster-member .open-party .open-party-indicator{
  background: #AB4AFF !important;
}

lol-social-roster-member .open-party-indicator{
  background: #4E2275 !important;
}

.status-message.open-party.chat{
  color: #AB4AFF !important;
}

.filled.xp-ring{
  background-color: #fff !important;
}

lol-social-status .status-message.dnd{
  color: #fff !important;
  font-weight: bold !important;
}

:host .lol-uikit-background-switcher-image{
  content: url(https://i.ibb.co/JrgzYXg/grunge.jpg) !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  filter:blur(10px);
  width: auto !important;
}

.parties-view .parties-background lol-uikit-background-switcher{
  content: url(https://i.ibb.co/JrgzYXg/grunge.jpg) !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  filter:blur(10px);
  width: auto !important;
}
.parties-view .parties-background .uikit-background-switcher{
  content: url(https://i.ibb.co/JrgzYXg/grunge.jpg) !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  filter:blur(10px);
  width: auto !important;
}

.action-bar-button{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

.alpha-version-panel{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

.summoner-level-ring{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

.navigation-bar{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

.dropdown-container{
  filter: hue-rotate(-131deg);
  position: relative;
  z-index: 3;
  filter: grayscale(100%);
}

.cdp-backdrop-component .cdp-backdrop.progression:after{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

.parties-game-type-card-categories{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

lol-uikit-flat-input{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

lol-uikit-close-button{
  filter: hue-rotate(-131deg);
  filter: grayscale(100%);
}

lol-social-avatar:not([disabled]):hover .summoner-level-ring{
  -webkit-filter: none !important;
  filter: none !important;
}

.lol-uikit-dialog-frame {
  filter: grayscale(100%);
}

/* lol-uikit-navigation-bar{
  filter: hue-rotate(-131deg);
} */

.navigation-bar.left{
  filter: grayscale(100%);
}

lol-uikit-close-button{
  filter: grayscale(100%);
}

lol-regalia-banner-v2-element{
  filter: grayscale(100%);
}

.style-profile-emblem-header-title{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

/* lol-uikit-dialog-frame::part(.lol-uikit-dialog-frame){
  border: 2px solid transparent !important;
  border-image: linear-gradient(to top, red 0, green 5px, blue 100%) 1 stretch !important;
} */

:host .lol-uikit-dialog-frame.top .lol-uikit-dialog-frame-sub-border::before, :host .lol-uikit-dialog-frame.bottom .lol-uikit-dialog-frame-sub-border::before{
  filter: grayscale(100%) !important;
}

:host .lol-uikit-dialog-frame.top .lol-uikit-dialog-frame-sub-border::after, :host .lol-uikit-dialog-frame.bottom .lol-uikit-dialog-frame-sub-border::after{
  filter: grayscale(100%) !important;
}

/* COLLECTION */

.collections-application{
  position: relative;
  isolation: isolate;
}

.collections-application:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: hue-rotate(-150%); */
  mix-blend-mode: hue;
  background-color:rgb(101, 25, 224, 0.6);
  z-index: 1;
  filter: grayscale(100%);
}

.collections-routes{
  position: relative;
  z-index: 10;
  filter: grayscale(100%);
}

/* YOUR SHOP */

.yourshop-root{
  position: relative;
  isolation: isolate;
}

.yourshop-root:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: hue-rotate(-150%); */
  mix-blend-mode: hue;
  background-color:rgb(101, 25, 224, 0.8);
  z-index: 1;
}

.yourshop-content-wrapper{
  position: relative;
  z-index: 2;
}

/* STORE */
.store-backdrop {
  position: relative;
  isolation: isolate;
}

.__rcp-fe-lol-store .navbar.clearfix .nav.nav-tabs{
  filter: grayscale(100%) !important;
}

.store-backdrop:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: hue-rotate(-150%); */
  mix-blend-mode: hue;
  background-color:rgb(101, 25, 224, 0.8);
  z-index: -1;
}

.__rcp-fe-lol-store{
  position: relative;
  z-index: 1;
}

.offer-card-unrevealed-loop-video{
  filter: grayscale(100%) !important;
}

.loot-display-category-tab .loot-category-tab.selected::after{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

hr{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}


::-webkit-scrollbar-thumb{
  background-color: #bebebe !important;
}

.recipe-help-button{
  filter: grayscale(100%) !important;
}

.border{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.loot-tray::before{
  filter: grayscale(100%) !important;
}

.loot-to-store-button {
  filter: grayscale(100%) !important;
}

lol-uikit-tooltip-root{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

#lol-uikit-tooltip-root > div{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.style-profile-sub-nav{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.lol-uikit-close-button{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.style-profile-skin-picker-button {
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.collection-details{
  filter: grayscale(100%) !important;
}

.collection-ownership-filter {
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.collection-grouping-options{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.collection-sort-options{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.lock-icon{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.champion-mastery-badge{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.yourshop-header-riot {
  filter: grayscale(100%) !important;
}

.yourshop-footer-riot-expiration{
  filter: grayscale(100%) !important;
}

.yourshop-footer-riot-notice{
  filter: grayscale(100%) !important;
}

.yourshop-footer-riot-notice{
  filter: grayscale(100%) !important;
}

.nav-tab{
  filter: grayscale(100%) !important;
}

.lol-uikit-flat-button-normal{
  filter: grayscale(100%) !important;
}

.nav-btn-gifting{
  filter: grayscale(100%) !important;
}

.nav-btn-accounts{
  filter: grayscale(100%) !important;
}

/* lol-uikit-navigation-item{
  filter: hue-rotate(-131deg) !important;
} */

.button-type-secondary{
  filter: grayscale(100%) !important;
}

.lol-uikit-flyout-frame-wrapper{
  filter: grayscale(100%) !important;
}

.lol-uikit-flat-button-inner{
  filter: grayscale(100%) !important;
}

.loot-recipe-help-container::before{
  filter: grayscale(100%) !important;
}

.loading-spinner{
  filter: grayscale(-301%) !important;
}

#ember821 > div > svg > g{
  filter: grayscale(100%) !important;
}

.hextech-loading-animation{
  filter: grayscale(100%) !important;
}

.icon-ring{
  filter: grayscale(100%) !important;
}

.conversation-close-button{
  filter: grayscale(100%) !important;
}

.chat-header{
  border-bottom: thin solid #6615c4 !important;
  filter: grayscale(100%);
}

lol-social-chat-input .chat-input{
  filter: grayscale(100%) !important;
}

/* LOADING */
.lol-loading-screen-status-text{
  filter: grayscale(100%) !important;
}

.lol-loading-screen-spinner{
  filter: grayscale(100%) !important;
}

.lol-loading-screen-progress-bar-frame{
  filter: grayscale(100%) !important;
}

.lol-loading-screen-progress-bar-progress{
 filter: grayscale(100%) !important;
}

.email{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.heading{
  border-bottom: thin solid #000 !important;
}

.dialog-frame{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.dialog-content{
  filter: hue-rotate(131deg) !important;
  filter: grayscale(100%);
} 

:host .lol-uikit-flyout-frame-wrapper.top .sub-border::before, :host .lol-uikit-flyout-frame-wrapper.bottom .sub-border::before{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

:host .lol-uikit-flyout-frame-wrapper.bottom .border{
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

lol-uikit-flat-button-group{
  /* filter: hue-rotate(-131deg); */
}

lol-uikit-flat-button-secondary{
  filter: grayscale(100%) !important;
}

.lol-uikit-dialog-frame-sub-border::before{
  filter: grayscale(100%) !important;
}

.lol-uikit-dialog-frame-sub-border::after{
  filter: grayscale(100%) !important;
}

.lol-uikit-dialog-frame-close-button::before{
  filter: grayscale(100%) !important;
}

.lol-uikit-dialog-frame-sub-border{
  filter: grayscale(100%) !important;
}

.lol-uikit-dialog-frame{
  filter: grayscale(100%) !important;
}

.mission-tooltip{
  filter: grayscale(100%) !important;
}

.flyout{
  filter: grayscale(100%) !important;
}

.mission-icon, .mission-reward  {
  filter: grayscale(100%) !important;
}

/* .mission-tracker-component{
  filter: hue-rotate(131%) !important;
} */

/* NAVIGATION */

.rcp-fe-lol-collections-collection-details {
  filter: hue-rotate(-131deg) !important;
  filter: grayscale(100%);
}

.collection-tier-information{
  filter: hue-rotate(131deg) !important;
  filter: grayscale(100%);
}

.collection-tier-information{
  filter: hue-rotate(131deg) !important;
  filter: grayscale(100%);
}

.collection-bottom-info{
  filter: hue-rotate(131deg) !important;
  filter: grayscale(100%);
}

.collections-sub-nav-container{
  z-index: 10 !important;
  filter: hue-rotate(206deg) !important;
  filter: grayscale(100%);
}


/*.parties-background lol-uikit-background-switcher{
  content: url(http://mmmx22.ct8.pl/bc.jpg) !important;
  width: auto !important;
}*/

/*.uikit-background-switcher .lol-uikit-background-switcher-image{
    content: url(http://mmmx22.ct8.pl/bc.jpg) !important;
  width: auto !important;
}*/

/*.uikit-background-switcher .lol-uikit-background-switcher-image{
    content: url(http://mmmx22.ct8.pl/bc.jpg) !important;
  width: auto !important;
}*/


.basic-button{
  left: 32vw !important;
  height: 48px !important;
  width: 122px !important;
  top: 15px !important;
  filter: grayscale(100%);
}

.left-nav-menu{
    position: relative !important;
    margin-left: -200px !important;
    filter: grayscale(100%);
}

.league-logo{
  display: none !important;
}

.play-button-frame{
  background-image: none !important;
}

:host .parties-game-search-map.game_map_summoners_rift{
  background-image: url(http://mmmx22.ct8.pl/Floppa.jpg) !important;
}

lol-uikit-video-state-machine{
  display: none !important;
}

.currency-be-icon-container {
    filter: grayscale(100%);
}

.currency-rp {
    filter: grayscale(100%);
}
.availability-icon.chat.remote{
  /*filter: hue-rotate(55%);*/
  background-color: none !important;
}

.main-navigation-menu-item{
  filter: grayscale(100%);
}

.play-button-content{
  left: 30px !important;
}

:host .parties-status-card.open {
    filter: grayscale(100%) !important;
}

.player-notifications-button{
  filter: grayscale(100%) !important;
}

.parties-player-positions lol-parties-player-position.primary{
  filter: grayscale(100%) !important;
}

.parties-player-positions lol-parties-player-position.secondary{
  filter: grayscale(100%) !important;
}

.parties-position-selector-hextech-dashed-ring{
  filter: grayscale(100%) !important;
}

.confirm-button-container button.confirm{
  filter: grayscale(100%) !important;
}

.parties-footer-notifications .parties-footer-warning{
  filter: grayscale(100%) !important;
}

:host .regalia-parties-root[data-type="current-player"] .regalia-parties-banner-backdrop{
  filter: grayscale(100%) !important;
}

.open-party-toggle-wrapper .toggle-container .open{
  filter: grayscale(100%) !important;
}

lol-social-panel{
  filter: grayscale(100%) !important;
}

.lol-social-identity .notifications-button{
  filter: grayscale(100%) !important;
}

.placeholder-invited-container .placeholder-invited-image {
  filter: grayscale(100%) !important;
}

lol-social-availability-hitbox .availability-icon.open-party{
  background-image: url(http://mmmx22.ct8.pl/lol-social-open-party.png) !important;
  background-color: transparent !important;
}

.availability-icon.chat.remote{
  background-color: transparent !important;
  filter: grayscale(100%) !important;
}

.ready-check-state-machine-timer{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: hue-rotate(-290deg) !important;
  filter: grayscale(100%);
}

.ready-check-timer{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: grayscale(100%);
}

.ready-check-timer.ember-view{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: grayscale(100%);
}

.ready-check-root-element{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: grayscale(100%);
}

.ready-check-root-element.ember-view{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: grayscale(100%);
}

.fake-application-template{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  filter: grayscale(100%);
}

.navigation-status-ticker{
  position: absolute !important;
  left: 370px !important;
  top: 24px !important;
}

.mission-button .count-badge{
  background-color: #BB86FF !important;
}


.in-matchmaking-search .parties-placeholder-banner{
  filter: grayscale(100%) !important;
}

.open-party-toggle-wrapper.right .toggle-button{
  filter: grayscale(100%) !important;
}

.loot-item-visual .shard-overlay{
  background: #BB86FF !important;
}

.social-count-badge{
  background-color: #BB86FF !important;
}
lol-social-friend-requests .friend-requests-header{
  color: #bebebe !important;
}

.chat-bubble .my-bubble{
  background-color: #bebebe !important;
}

lol-social-chat-window .conversation.unread .conversation-subtitle{
  color: #bebebe !important;
}

lol-social-chat-window .conversation.active::before{
  background-color: #bebebe !important;
}

lol-social-roster .more-unread .more-unread-bar{
  background-color: #bebebe !important;
}

.hold-leave,
.collections-application,
.__rcp-fe-lol-store,
.loot-backdrop.background-static,
.personalized-offers-root,
.parties-view,
.yourshop-root,
.store-backdrop,
.challenges-collection-component>.background,
.loot-backdrop .lol-uikit-video-content,
.rcp-fe-lol-event-shop-application,
.champ-select-bg-darken,
.rcp-fe-lol-game-in-progress,
.postgame-background-image,
.postgame-champion-background-wrapper,
.stats-backdrop,
.loot-loading-screen,
.cdp-backdrop.progression:after,
.cdp-backdrop-component,
.cdp-backdrop:after,
.group-header,
.ember-text-field,
.parties-background-mask,
.match-details-root,
#ember6936,
#ember7563,
.loading-tab::after,
.loot-milestones-tracker-wrapper,
.rcp-fe-lol-tft-application-background,
.tft-home-footer-bg,
.tft-hub-footer-bg,
.event-shop-index,
.event-shop-page-header,
.event-shop-progression,
.event-shop-progression-info,
.event-shop-reward-track-wrapper,
.event-shop-token-shop-header,
.event-shop-progression-track,
.event-shop-main-view-progression-minimize-button-trapezoid,
.event-shop-main-view-progression-minimize-button-trapezoid-border {
   filter: grayscale(100%) !important;
}

.unfilled.xp-ring {
  display: none !important;
}

.summoner-level {
  color: (#fff) !important;
  background-image: none !important;
  bottom: -8px;
}

.summoner-level-ring {
  display: none !important;
}

.find-match-button-container,
.role-selectors-container,
.animation-button-icon {
   filter: grayscale(100%);
}